@font-face {
  font-family: 'Lausanne';
  src: url('ls.otf') format('opentype');
}

* {
  font-family: "Lausanne";
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  gap: 15px;
}
  
.flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
}

.flex-items img {
  max-height: 200px;
}

.flex-items a {
  text-decoration: none;
}

.flex-items a:hover {
  text-decoration: underline;
}

.top-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  height: 60px; 
  background-color: #333;
  color: white;
  z-index: 10; 
}

.top-banner-items {
  padding: 0 25px; 
}


body {
  margin-top: 60px; 
}
